<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.ziemiakopernika.ziemiakopernika">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".summary.SummaryActivity" />
        <activity android:name=".round.RoundActivity" />
        <activity
            android:name=".question.QuestionActivity"
            android:theme="@style/QuestionTheme" />
        <activity
            android:name=".redinfo.RedInfoActivity"
            android:theme="@style/RedInfoTheme" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".main.MainActivity" />
    </application>

</manifest>